<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true">

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <xml outputDirectory=".phpunit.cache/code-coverage/xml-coverage"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="DG\BypassFinals\PHPUnitExtension"/>
    </extensions>

    <php>
        <env name="APP_KEY" value="base64:2fl+Ktvkfl+Fuz4Qp/A75G2RTiWVA/ZoKZvp6fiiM10="/>
    </php>

    <logging>
        <junit outputFile="./test-reports/phpunit.junit.xml"/>
    </logging>
</phpunit>
